*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url(mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    max-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#container {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 20px;
    padding: 25px 15px;
    width: 85%;
}

#container p {
    font-size: 25px;
    font-weight: bold;
    color: #262626;
    margin-bottom: 10px;
}

#container h4 {
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background: #262626;
}

#container button {
    display: block;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin: 10px auto 0;
    cursor: pointer;
}

.features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    padding: 10px;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    color: #262626;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #262626;
    transition: all 0.3s ease;
}

.features ul li:hover{
    color: #fff;
    background: #5372F0;
}
